<h1> MENU <h1>

<h3></h3><a href="/list">1. Get the list of all employees</a><br> 
<a href="/id">2. Get the employee details by ID</a> <br>
<a href="/insert">3. Insert an employee</a> <br>
<a href="/update">4. Update an employee details</a><br> 
<a href="/delete">5. Delete an employee by ID</a></h3>
